<main>

  <input id="tab1" type="radio" name="tabs" checked>
  <label for="tab1">Goods</label>

  <input id="tab2" type="radio" name="tabs">
  <label for="tab2">Orders</label>


  <section id="content1">
    <div class="cardContainer inactive">
      <div class="card">
        <div class="side front">
          <div class="input-container ic1">
            <input class="input" type="text" placeholder=" " #nameValue/>
            <label for="firstname" class="placeholder">Name</label>
          </div>
          <div class="input-container ic2">
            <input class="input" type="text" placeholder=" " #priceValue/>
            <label for="firstname" class="placeholder">Price</label>
          </div>
          <button type="text" class="submit" (click)="add(nameValue.value, priceValue.value)">Add</button>
        </div>
      </div>
    </div>

    <div class="cardContainer inactive">
      <div class="card">
        <div class="side front">
          <div class="input-container ic1">
            <input class="input" type="text" placeholder=" " #nameValue1/>
            <label for="firstname" class="placeholder">Name</label>
          </div>
          <div class="input-container ic2">
            <input class="input" type="text" placeholder=" " #priceValue1/>
            <label for="firstname" class="placeholder">Price</label>
          </div>
          <button type="text" class="submit" (click)="put(nameValue1.value, priceValue1.value)">Change</button>
        </div>
      </div>
    </div>


    <div class="cardContainer inactive">
      <div class="card">
        <div class="side front">
          <div class="input-container ic1">
            <input class="input" type="text" placeholder=" " #id/>
            <label for="firstname" class="placeholder">Id</label>
          </div>
          <button type="text" class="submit" (click)="delete(id.value)">Delete</button>
        </div>
      </div>
    </div>

    <div class="cardContainer inactive">
      <div class="card">
        <div class="side front">
          <div class="input-container ic1">
            <input class="input" type="text" placeholder=" " #id1/>
            <!--                <div class="cut"></div>-->
            <label for="firstname" class="placeholder">Id</label>
          </div>
          <button type="text" class="submit" (click)="getById(id1.value)">Find</button>
          <br>
          <div class="input-container ic3">
            <h2 *ngIf="name != ''">{{name}}</h2>
            <h2 *ngIf="0 != price">{{price}}</h2>
          </div>

        </div>
      </div>
    </div>

    <button type="text" class="submit" (click)="getAll()">Get All    </button>

          <div *ngFor="let data of dataJson" class="cardContainer inactive">
            <div class="card">
              <div class="side front">
                <div class="img img1"></div>
                <div class="info">
                  <h2>id: {{data.id}}</h2>
                  <h2>name: {{data.name}}</h2>
                  <h2>price: {{data.price}}</h2>
                </div>
              </div>
            </div>
          </div>
  </section>

  <section id="content2">
    <p>
      Bacon ipsum dolor sit amet landjaeger sausage brisket, jerky drumstick fatback boudin ball tip turducken. Pork belly meatball t-bone bresaola tail filet mignon kevin turkey ribeye shank flank doner cow kielbasa shankle. Pig swine chicken hamburger, tenderloin turkey rump ball tip sirloin frankfurter meatloaf boudin brisket ham hock. Hamburger venison brisket tri-tip andouille pork belly ball tip short ribs biltong meatball chuck. Pork chop ribeye tail short ribs, beef hamburger meatball kielbasa rump corned beef porchetta landjaeger flank. Doner rump frankfurter meatball meatloaf, cow kevin pork pork loin venison fatback spare ribs salami beef ribs.
    </p>
    <p>
      Jerky jowl pork chop tongue, kielbasa shank venison. Capicola shank pig ribeye leberkas filet mignon brisket beef kevin tenderloin porchetta. Capicola fatback venison shank kielbasa, drumstick ribeye landjaeger beef kevin tail meatball pastrami prosciutto pancetta. Tail kevin spare ribs ground round ham ham hock brisket shoulder. Corned beef tri-tip leberkas flank sausage ham hock filet mignon beef ribs pancetta turkey.
    </p>
  </section>

  <!--  <section id="content3">-->
  <!--    <p>-->
  <!--      Bacon ipsum dolor sit amet beef venison beef ribs kielbasa. Sausage pig leberkas, t-bone sirloin shoulder bresaola. Frankfurter rump porchetta ham. Pork belly prosciutto brisket meatloaf short ribs.-->
  <!--    </p>-->
  <!--    <p>-->
  <!--      Brisket meatball turkey short loin boudin leberkas meatloaf chuck andouille pork loin pastrami spare ribs pancetta rump. Frankfurter corned beef beef tenderloin short loin meatloaf swine ground round venison.-->
  <!--    </p>-->
  <!--  </section>-->

  <!--  <section id="content4">-->
  <!--    <p>-->
  <!--      Bacon ipsum dolor sit amet landjaeger sausage brisket, jerky drumstick fatback boudin ball tip turducken. Pork belly meatball t-bone bresaola tail filet mignon kevin turkey ribeye shank flank doner cow kielbasa shankle. Pig swine chicken hamburger, tenderloin turkey rump ball tip sirloin frankfurter meatloaf boudin brisket ham hock. Hamburger venison brisket tri-tip andouille pork belly ball tip short ribs biltong meatball chuck. Pork chop ribeye tail short ribs, beef hamburger meatball kielbasa rump corned beef porchetta landjaeger flank. Doner rump frankfurter meatball meatloaf, cow kevin pork pork loin venison fatback spare ribs salami beef ribs.-->
  <!--    </p>-->
  <!--    <p>-->
  <!--      Jerky jowl pork chop tongue, kielbasa shank venison. Capicola shank pig ribeye leberkas filet mignon brisket beef kevin tenderloin porchetta. Capicola fatback venison shank kielbasa, drumstick ribeye landjaeger beef kevin tail meatball pastrami prosciutto pancetta. Tail kevin spare ribs ground round ham ham hock brisket shoulder. Corned beef tri-tip leberkas flank sausage ham hock filet mignon beef ribs pancetta turkey.-->
  <!--    </p>-->
  <!--  </section>-->

</main>
